@model ALMISA.Models.ViewModels.ClientesVM

@{
    ViewData["Title"] = "detalle_categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-8">
    <div class="box box-primary">
        <h2 style="text-align: center">Detalle categorias</h2>

      
        <form asp-action="detalle_clientes" asp-controller="Clientes" method="POST" role="form" style="width: 80%; margin: auto;padding:50px">
                <!-- ID de la venta (oculto) -->
                <input type="hidden" asp-for="oCliente.IdCliente" />

                <div class="mb-2">
                    <label class="form-label" asp-for="oCliente.Nombre">Nombre del cliente</label>
                    <input class="form-control form-control-sm" asp-for="oCliente.Nombre" type="text" />
                </div>

                <div class="mb-2 ">
                    <label class="form-label" asp-for="oCliente.DireccionOficinaPrincipal">Direccion del cliente</label>
                    <input class="form-control form-control-sm" asp-for="oCliente.DireccionOficinaPrincipal" type="text" />
                </div>

            <div class="mb-2">
                <label class="form-label">Ciudad del cliente</label>
                <select class="form-control select2" style="width: 100%;" asp-for="oCliente.IdCiudadOficinaPrincipal">
                    <option selected disabled>--Selecciona la ciudad--</option>
                    @foreach (var ciudad in Model.oCiudad)
                    {
                        <option value="@ciudad.Value">
                            @ciudad.Text
                        </option>
                    }
                </select>
            </div>

                <div class="mb-2" style="margin-top: 5%;">
                    <button class="btn btn-primary btn-sm w-25" type="submit">Crear cliente</button>
                </div>
            </form>
        

    </div>
     
        
</div>